<div class="item-flickr">
    <div class="row">
        <div class="col-md-12">
            <h1 class="pull-left">{{photoFlickr.title}}</h1> <a href="#/" class="pull-right btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
            <div class="clearfix"></div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="credits">
                <span class="author"><a href="https://www.flickr.com/photos/{{photoFlickr.author_id}}" target="_blank">{{photoFlickr.author}}</a></span> |
                Published: {{photoFlickr.date_taken| amDateFormat:'Do MMM YYYY'}} at {{photoFlickr.date_taken| amDateFormat:'hh:mm'}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a ng-href="{{photoFlickr.link}}" title="{{photoFlickr.title}}" target="_blank">
                <img src="{{photoFlickr.media.m}}" alt="{{photoFlickr.title}}" class="img-responsive"/>
            </a>
        </div>
        <div class="col-md-9">

            <ul class="tags" ng-show="tags.length > 0">
                <li><span class="tag-title">tags:</span></li>
                <li ng-repeat="tag in tags track by $index">
                    <a href="https://www.flickr.com/photos/tags/{{tag}}" title="{{tag}}" target="_blank">{{tag}}</a>
                </li>
            </ul>
            <hr />
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <g:plusone></g:plusone>


        </div>
    </div>
</div>